@charset "UTF-8";

@font-face {
  font-family: "gohome";
  src:url("../fonts/gohome.eot");
  src:url("../fonts/gohome.eot?#iefix") format("embedded-opentype"),
    url("../fonts/gohome.woff") format("woff"),
    url("../fonts/gohome.ttf") format("truetype"),
    url("../fonts/gohome.svg#gohome") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "gohome" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "gohome" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-right-1:before {
  content: "\e000";
}
.icon-left-1:before {
  content: "\e001";
}
.icon-left-2:before {
  content: "\e002";
}
.icon-search-1:before {
  content: "\e003";
}
.icon-close-1:before {
  content: "\e004";
}
.icon-search-2:before {
  content: "\e005";
}
.icon-mail-1:before {
  content: "\e006";
}
.icon-phone-1:before {
  content: "\e009";
}
.icon-mail-2:before {
  content: "\e00a";
}
.icon-calculator-1:before {
  content: "\e00b";
}
.icon-close-2:before {
  content: "\e00c";
}
.icon-logo:before {
  content: "\e00d";
}
.icon-right-2:before {
  content: "\e00e";
}
.icon-down1:before {
  content: "\e00f";
}
.icon-down2:before {
  content: "\e010";
}
.icon-youtube:before {
  content: "\e011";
}
.icon-twitter:before {
  content: "\e012";
}
.icon-sina:before {
  content: "\e013";
}
.icon-google-plus:before {
  content: "\e014";
}
.icon-in:before {
  content: "\e015";
}
.icon-fb:before {
  content: "\e016";
}
.icon-android-menu:before {
  content: "\e017";
}
.icon-up-1:before {
  content: "\e018";
}
.icon-up-2:before {
  content: "\e019";
}
.icon-down-1:before {
  content: "\e01a";
}
.icon-down-2:before {
  content: "\e01b";
}
.icon-close-3:before {
  content: "\e01c";
}
.icon-up1:before {
  content: "\e01d";
}
.icon-up2:before {
  content: "\e01e";
}
.icon-unlock-alt:before {
  content: "\e01f";
}
.icon-user:before {
  content: "\e020";
}
.icon-double-down:before {
  content: "\e021";
}
.icon-double-up:before {
  content: "\e022";
}
.icon-double-right:before {
  content: "\e023";
}
.icon-double-left:before {
  content: "\e024";
}
.icon-information:before {
  content: "\e025";
}
.icon-placepin:before {
  content: "\e026";
}
.icon-list:before {
  content: "\e027";
}
.icon-heart2:before {
  content: "\e007";
}
.icon-heart1:before {
  content: "\e008";
}
.icon-zoom:before {
  content: "\e028";
}
.icon-talk:before {
  content: "\e02c";
}
.icon-calculator:before {
  content: "\e02d";
}
.icon-images:before {
  content: "\e029";
}
.icon-people:before {
  content: "\e02a";
}
.icon-fb2:before {
  content: "\e02b";
}
.icon-skype:before {
  content: "\e02e";
}
.icon-caret-right:before {
  content: "\e030";
}
.icon-caret-left:before {
  content: "\e034";
}
